* {
  margin: 0;
}

.app {
  background: #F9F9F9;
}

.nav{
  display: flex;
  width: 100%;
  background: white;
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
  z-index: 1030;
  position: fixed;
  top: 0;
}

.user__buttons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.app__posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 6%;
}

.app__posts h1 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
}

.upload_tool {
  display: flex!important;
  flex-direction: column!important;
  margin: 5% auto 10px!important;
  width: 45%!important;
}

.progress__bar {
  width: 100% !important;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px){
  .app__posts {
    margin-top: 7%;
  }
  .app__posts h1 {
    padding-top: 3%;
  }
}
@media screen and (max-width: 767px) {
  .app__posts {
    margin-top: 20%;
  }
  .upload_tool {
    width: fit-content !important;
  }
}
@media screen and (max-width: 700px){
  .app__posts {
    margin-top: 8%;
  }
  .app__posts h1 {
    padding-top: 4%;
  }
}
@media screen and (max-width: 615px){
  .app__posts {
    margin-top: 11%;
  }
  .app__posts h1 {
    padding-top: 7%;
    text-align: center;
  }
}
@media screen and (max-width: 510px){
  .app__posts {
    margin-top: 15%;
  }
  .app__posts h1 {
    padding-top: 11%;
  }
}
@media screen and (max-width: 430px){
  .app__posts {
    margin-top: 17%;
  }
  .app__posts h1 {
    padding-top: 13%;
  }
}
